<div class = "container-fluid" align = "left">
    <h1><%= title %></h1>
        <h2>Darosh Cawas Irani</h2>
            <p>I am a man</p>

    <a class = "nav-link <%=(page == 'resumeMe') ? 'active' : ''; %>" aria-current="page" href="/resumeMe">Darosh Irani Resume </a>
        
</div>