<!--Author : Darosh Irani
// Student ID : 822955068
// Filename : home.ejs
// Dated : October 2nd, 2022 -->

<!-- Template Source - https://bootswatch.com/flatly/ -->

<div class = "container-fluid" align = "Center">
    <h1><%= title %></h1>
    <figure>
        <blockquote class="blockquote">
          <p class="mb-0">If we wash our hands of the conflict between the powerful and the weak, we don't remain neutral; we side with the powerful</p>
        
        </blockquote>
        <figcaption class="blockquote-footer">
        <cite title="Source Title">Banksy</cite>
        </figcaption>
      </figure>
</div>